RewriteEngine on
ErrorDocument 404 /view/error/404.php
ErrorDocument 500 /view/error/500.php

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R]

# Rewrite Url
RewriteRule ^index.html$ index.php [L]
RewriteRule ^home$ index.php [L]
RewriteRule ^home.html$ index.php [L]
RewriteRule ^register.html$ index.php?modun=account&act=register_v2 [L]
RewriteRule ^signin.html$ index.php?modun=account&act=login_v2 [L]
RewriteRule ^verify.html$ view/account/verify.php [L]
RewriteRule ^signout.html$ view/account/out.php [L]
RewriteRule ^login-fb.html$ view/account/fb-login.php [L]

 # Rewrite Pages
RewriteRule ^vongquayquanhuy/(.*)-([0-9]+).html$ index.php?modun=vongquayquanhuy&act=index&id=$2 [L]
RewriteRule ^garena/ruong-quan-huy$ index.php?modun=game/ruong-quan-huy&act=index [L]

RewriteRule ^homthinhbian/page=([0-9]+)$ index.php?modun=game/homthinhbian&act=index&page=$1 [L]
RewriteRule ^thung-vat-pham$ index.php?modun=game/thung-vat-pham&act=index [L]
RewriteRule ^may-ban-do-choi-trung-thu$ index.php?modun=game/may-ban-do-choi-trung-thu&act=index [L]

RewriteRule ^may-xeng-hoa-phuong-ruc-lua$ index.php?modun=game/may-xeng-hoa-phuong-ruc-lua&act=index [L]
RewriteRule ^Nick/lienquan$ index.php?modun=lienquan&act=index [L]
RewriteRule ^Nick/lienquan/page=([0-9]+)$ index.php?modun=lienquan&act=index&page=$1 [L]
RewriteRule ^Nick/lienquan/([0-9]+)$ index.php?modun=lienquan&act=xem_them&id=$1 [L]
RewriteRule ^random-lienquan/(.*)$ index.php?modun=random_lienquan&act=index&cname=$1 [L]
RewriteRule ^random-lienquan/(.*)/page=([0-9]+)$ index.php?modun=random_lienquan&act=index&cname=$1&page=$2 [L]

#user profile rewrite
RewriteRule ^user/thongtin$ index.php?modun=action&act=index&cmd=thong_tin [L]
RewriteRule ^user/doimatkhau$ index.php?modun=action&act=index&cmd=doi_mat_khau [L]
RewriteRule ^user/lichsugiaodich$ index.php?modun=action&act=index&cmd=lich_su_giao_dich [L]
RewriteRule ^user/lichsugiaodich/page=([0-9]+)$ index.php?modun=action&act=index&cmd=lich_su_giao_dich&page=$1 [L]
RewriteRule ^user/napthe$ index.php?modun=action&act=index&cmd=nap_the [L]
RewriteRule ^user/lichsunapthe$ index.php?modun=action&act=index&cmd=lich_su_nap_the [L]
RewriteRule ^user/lichsunapthe/page=([0-9]+)$ index.php?modun=action&act=index&cmd=lich_su_nap_the&page=$1 [L]
RewriteRule ^user/rutquanhuy index.php?modun=action&act=index&cmd=rut_quan_huy [L]
RewriteRule ^user/lichsurutquanhuy$ index.php?modun=action&act=index&cmd=lich_su_rut_quan_huy [L]
RewriteRule ^user/lichsurutkimcuong/page=([0-9]+)$ index.php?modun=action&act=index&cmd=lich_su_rut_kim_cuong&page=$1 [L]
RewriteRule ^user/acclienquan$ index.php?modun=action&act=index&cmd=acc_lq [L]
RewriteRule ^user/accfreefire/page=([0-9]+)$ index.php?modun=action&act=index&cmd=acc_lq&page=$1 [L]
RewriteRule ^user/random-lienquan$ index.php?modun=action&act=index&cmd=random_lq [L]
RewriteRule ^user/random-lienquan/page=([0-9]+)$ index.php?modun=action&act=index&cmd=random_lq&page=$1 [L]

 # Rewrite Module
RewriteRule ^system/user$ model/account/user.php [L]
#naptudong.com , thesieure.com
RewriteRule ^check/napthe$ model/account/napthe.php [L]
#gachthe.vn
RewriteRule ^system/napthe/2$ model/account/napthe2.php [L]
RewriteRule ^system/vongquaykimcuong model/vongquaykimcuong/xuly.php [L]

RewriteRule ^system/quay$ model/vongquayquanhuy/xuly.php [L]
RewriteRule ^system/vongquayquanhuy$ model/vongquayquanhuy/xuly.php [L]
RewriteRule ^system/thung-vat-pham$ model/game/thung-vat-pham/xuly.php [L]
RewriteRule ^system/may-xeng-hoa-phuong-ruc-lua$ model/game/may-xeng-hoa-phuong-ruc-lua/xuly.php [L]
RewriteRule ^system/latthe$ model/latthe/xuly.php [L]

 # Rewrite ADMIN
RewriteRule ^admin/ruong-quan-huy$ admin/?modun=ruong-quan-huy&act=index [L]
RewriteRule ^admin/ruong-quan-huy/page=([0-9]+)$ admin/?modun=ruong-quan-huy&act=index&page=$1 [L]
RewriteRule ^admin/thung-vat-pham admin/?modun=thung-vat-pham&act=index [L]

RewriteRule ^admin/may-ban-do-choi-trung-thu admin/?modun=may-ban-do-choi-trung-thu&act=index [L]
RewriteRule ^admin/may-xeng-hoa-phuong-ruc-lua admin/?modun=may-xeng-hoa-phuong-ruc-lua&act=index [L]

RewriteRule ^admin/may-xeng-ban-banh-mi admin/?modun=may-xeng-ban-banh-mi&act=index [L]
RewriteRule ^admin/latthe admin/?modun=latthe&act=index [L]
RewriteRule ^admin/sieucap admin/?modun=sieucap&act=index [L]
RewriteRule ^admin/thenap$ admin/?modun=thenap&act=index [L]
RewriteRule ^admin/thenap/page=([0-9]+)$ admin/?modun=thenap&act=index&page=$1 [L]
RewriteRule ^admin/users$ admin/?modun=account&act=index [L]
RewriteRule ^admin/users/page=([0-9]+)$ admin/?modun=account&act=index&page=$1 [L]

RewriteRule ^admin/list_acc_random/(.*)$ admin/?modun=random_freefire&act=list_random&cname=$1 [L]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php56” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php56 .php .php5 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
